# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]

# Misc
*.tgz
